<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYctRt4lSUJCQbYDWxhlu0y7sao-0l0Os</string>
	<key>GCM_SENDER_ID</key>
	<string>244703925406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roadvision</string>
	<key>PROJECT_ID</key>
	<string>roadvision-278e6</string>
	<key>STORAGE_BUCKET</key>
	<string>roadvision-278e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244703925406:ios:5e0dbd37df64cf839d178f</string>
</dict>
</plist>